<!doctype html>
<html>
    <head>
        <title>{{ page_title }}</title>
        <meta charset="utf-8">
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
        <meta name="description" content="{{ page_description | escape }}">
        <link rel="canonical" href="{{ canonical_url }}">
        <meta content="width=device-width,initial-scale=1,shrink-to-fit=no" name="viewport">
        {{ content_for_header }}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap" rel="stylesheet">
        <!-- Header hook for plugins -->
        {{ 'application.css' | asset_url | stylesheet_tag }}
        {{ 'application.js' | asset_url | script_tag }}
    </head>
    <body class="template-{{ template }}">
        {% if template != 'cart' %}
            <a href="/cart" class="link-to-cart {% if cart.item_count > 0 %}cart-filled{% endif %}">
                <span class="cart-text">
                    {% if cart.item_count > 0 %}
                        {{ 'cart.button.filled' | t }}
                    {% else %}
                        {{ 'cart.button.empty' | t }}
                    {% endif %}
                </span>
                <span class="cart-item-count">
                    {{cart.item_count}}
                </span>
            </a>
        {% else %}
            <a class="link-to-home" href="/">{{ 'cart.button.close' | t }}</a>
            {% endif %}   
                {% if template != 'cart' and template != 'index' %}
                    {% include 'error-404' %}
                {% else %}
                    <main role="main">
                        {{ content_for_layout }}
                    </main>
                {% endif %}                          
        </body>
    </body>
</html>
